body{
    background-color: rgba(255, 144, 14, 0.1);
    background-color: #c0c0c0;
}
/* header sction start */
header{
   display: flex;
   justify-content: space-between;
}
.header-title{
    width: 302px;
    height: 53px;
    text-align: center;
    font-weight: 700px;
    left: 268px;
    top: 50px;
}
.nav-bar{
    width: 477px;
    padding-top: 35px;
}
.nav-bar a{
    text-decoration: none;
    color: black;
    margin-right: 20px;
   
}
/* header section end */
/* heading section start */
main{
    display: flex;
    flex-direction: column;
}
.container{
    position: absolute;
    width: 862px;
    height: 225px;
    text-align: center;
    left: 230px;
    padding: 10px;
    
}
.contain{
    margin-top: 110px;
    margin-left: 100px;
}
.heading{
    position: absolute;
    font-size: 17px;
    width: 205px;  
    margin-top: 20px;
    margin-left: 350px;
}
.primary{
    width: 150px;
    height: 50px;
    margin-left: 50px;
    background-color: #FF900E;
    color: #ffffff;
    border: none;
    padding: 5px;
    border-radius: 5px;
}
.banner img{
    height: 400px;
    margin-top: 30px;
    margin-left: 50px;
}
/* heading section end */